* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#BABEC8;
}

.padding-lef-and-rinht {
    padding: 0vw 20vw;
}

@media (max-width: 768px) {
    .padding-lef-and-rinht {
        padding: 0vw 5vw;
    }
}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 2vw 5vw;
    z-index: 1;
}


.logo_black {
    display: flex;
    width:3vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

.img-negro {
    width: 3vw;
    height: auto;
}

nav {
    display: flex;
    gap: 3.7vw;
    margin-left: 10vw;
    backdrop-filter: blur(8px);
    width: 44vw;
    height: 4vw;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@font-face {
    font-family: 'fuente1';
    src: url('../fonts/Oswald-Light.ttf');
}

.menu {
    color: #000000;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: 'fuente1',Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.mod-cristal {
    width: 3vw;
    height: 3vw;
    border-radius: 20%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5vw;
    position:absolute;
}

.bloque-negro {
    background-color: #000000;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-modo-oscuro {
    width: 1.4vw;
    height: 1.4vw;
}

.luna {
    width: 1.4vw;
    height: 1.4vw;
}

.contenedor-img-right {
    position: relative;
    overflow: hidden;
    height: 40vw;
}

.piedraright {
    position: absolute;
    width: 46vw;
    top: -9vw;
    right: -5vw;
}

.contenedor-gradien-right {
    position: absolute;
    width: 39vw;
    height: 10vw;
    top: 26vw;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(186, 190, 200, 1));
}

.contenedor-img-left {
    position: relative;
}

.piedraleft {
    position: absolute;
    width: 22vw;
    left: -5vw;
    top: -12vw;
}

.contenedor-gradien-left {
    position: absolute;
    width: 16vw;
    height: 10vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(186, 190, 200, 1));
    top: 0vw;
}

@font-face {
    font-family: 'fuente2';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

.hello {
    font-size: clamp(0.5rem, 1.5vw, 2rem);
    top: -25vw;
    position: relative;
    font-family: 'fuente2','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face{
    font-family: 'fuente3';
    src: url(../fonts/Oswald-Light.ttf)
}

.ing {
    font-size: clamp(2.5rem, 7vw, 8rem);
    top: -25vw;
    position: relative;
    font-family: 'fuente3';
    color:rgba(19, 19, 19, 0.925);
    font-weight:500;
}

.contenedor-objetivo {
    display: flex;
    font-family: 'fuente3';
    font-size: clamp(1rem, 1.5vw, 4rem);
    gap: 100px;
}

@media (max-width: 500px) {
    .contenedor-objetivo {
        flex-direction: column;
        gap: 0px;
    }
}

.h-description {
    display: flex;
    flex-direction: column;
}

.button-linkedil {
    border: solid 1px #000000;
    width: clamp(20vh, 20vw, 20vw);
    height: clamp(6vh, 5vw, 5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.text-contac {
    /*padding-bottom: 35%;*/
    line-height: 2;
}

.text-titulo {
    font-size: clamp(2rem, 7vw, 7vw);
    font-family: 'fuente2';
    margin: 20px 0px;
}


.subtitle-educacion {
    font-size: 3vw;
    font-family: 'fuente';
    border-bottom: solid 0.1vw #000000;
    padding: 5vw 0vw;
}

.container-educacion {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 14vw;
    border-top: solid 0.1px #000000;
    border-bottom: solid 0.1px #000000;
    font-family: 'fuente';
    gap: 10vw;
    font-size: clamp(0.4rem,2vw, 1rem);
}

@font-face {
    font-family: 'fuente';
    src: url(../fonts/Oswald-ExtraLight.ttf);
}

.subtitle-experiencia {
    font-size: 3vw;
    font-family: 'fuente';
    padding: 5vw 0vw;
    border-top: solid 0.1px #000000;
    border-bottom: solid 0.1px #000000;
}

.container-experiencia1 {
    display: flex;
    justify-content:space-between;
    width: 100%;
    border-top: solid 0.1px #000000;
    border-bottom: solid 0.1px #000000;
    font-family: 'fuente';
    gap: 3vw;
    padding: 3vw 0vw;
    font-size: clamp(0.6rem, 1.3vw, 1.5rem);
}

.actividades1 {
    width:70vh;
}

@media (max-width: 500px){
    .container-experiencia1 {
        flex-direction: column;
    }
    .actividades1{
        width:auto;
    }
}

.subtitle-Herramienta {
    font-size: 3vw;
    font-family: 'fuente';
    padding: 5vw 0vw;
    border-top: solid 0.1vw #000000;
}

.container-herramientas {
    width: 100%;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap: 0.8vw;
    margin: 5vw 0vw;
}

@media (max-width: 768px) {
    .container-herramientas {
        height: auto;
        margin: 8vw 0vw;
    }
}

.img-hm {
    width: clamp(17vh, 14vw, 14vw);
    height: clamp(17vh, 14vw, 14vw);
    border-radius: 15px;
    border: solid 0.5px #000000;
    font-size: 1vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.logos-h {
    width: clamp(10vh, 10vw, 10vw);
    height: auto;

}

.My-completed-project {
    /*margin-top: 1vw;*/
}

.stack {
    height: 260dvh; /* espacio para scroll */
    position: relative;
}

.card {
    position: sticky;
    top: 25dvb; /* TODAS se quedan en el mismo punto */
    background:#BABEC8;
    display: flex;
    width: 100%;
    height: 65dvh;
    max-height: 900px;
    min-height: 200px;
    border-radius: 15px;
    align-content:space-between;
    padding: 1vw;
    border: solid 1px #000000;
    will-change: transform;

}

.tarjet-titulo {
    font-family: 'fuente1';
    font-size: 3vw;
}

span.size-icono {
    margin: 4vw 0vw;
    font-size: 4vw;
    font-variation-settings: 'OPSZ' 40;
}

.tarjet-descripcion {
    position: absolute;
    bottom: 1vw;
    font-family: 'fuente1';
    font-size: 1.7vw;
}

.img-tarjet1 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25vw;
    height: auto;
}

.ejemplo {
    margin-top: 6vw;
}